*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar{
    background-color: rgb(49, 48, 48);

}

.nav_section_links a{
    font-weight: 600;
    font-size: 18px;
}
.nav_section_links a:hover{
    color: mediumvioletred;
    font-weight: 600;
}
.hero_image{
    box-shadow: 10px 15px 10px black;
}
 
.work{
    padding: 60px 40px;
    background-color:rgb(49, 48, 48);
} 
.about{
    padding: 60px 40px;
    background-image: linear-gradient(to right, #006286, #68caee);
    display: flex;
    flex-wrap: wrap;
} 
.bars{
    margin: 20px 0;
}
.footer{
    padding: 60px 40px;
    background-color: rgb(98, 97, 97);
    font-size: 20px;
    text-transform: uppercase;
}
ul {
    list-style: none;  
}
.links_1 a, .links_2 a{
    text-decoration: none;
    color: white;
}
.footer_text, .footer_contacts{
    color:white;
} 
.links_1 a:hover,
.links_2 a:hover{
    color: rgb(30, 186, 248);
}